@media (max-width: 380px) {
  .wrapper {
    width: 330px;
  }

  /*--------------HEADER START----------------*/
  .header__wrapper {
    height: 96px;
    align-items:flex-end;
    padding: 36px 0;
  }

  .header__logo__img {
  width: 20px;
  height: 20px;
}

  .header__logo__link-text {
    line-height: 21px;
    margin-left: -5px;
    height: 17px;
  }

  nav {
    display: none;
  }

  .header__burger {
    display: block;
    background: url(../icons/burger.svg);
    width: 40px;
    height: 25px;
  }
  /*--------------HEADER END----------------*/

  /*--------------WELCOME START----------------*/

  .welcome {
    background: #EDF2EC; 
    height: 300px;
    padding: 24px 0;
  }
  .welcome__background {
    display: none;
  }

  .welcome__wrapper {
    padding-top: 0;
  }



  .welcome__information {
  width: 330px;
  height: 252px;
}

  .welcome__title {
    font-size: 25px;
    line-height: 35px;
    height: 72px;
    width: 330px;
  }

  .welcome__text {
    width: 314.52px;
    height: 105.42px;
  }

  .welcome__btn {
    width: 100px;
    height: 34.14px;
    letter-spacing: 0.3px;
    font-size: 10px;
    line-height: 20px;
  }

  

  /*--------------WELCOME END----------------*/


}