@media (max-width: 380px) {
  .wrapper {
    width: 330px;
  }

  /*--------------HEADER START----------------*/
  .header__wrapper {
    height: 96px;
    align-items:flex-end;
    padding: 36px 0;
  }

  .header__logo__img {
    width: 20px;
    height: 20px;
}

  .header__logo__link-text {
    line-height: 21px;
    margin-left: -5px;
    height: 17px;
  }

  nav {
    display: none;
  }

  .header__burger {
    display: block;
    background: url(../icons/burger.svg);
    width: 40px;
    height: 25px;
  }
  /*--------------HEADER END----------------*/

  /*--------------WELCOME START----------------*/

  .welcome {
    background: #EDF2EC; 
    height: 300px;
    padding: 24px 0;
  }
  .welcome__background {
    display: none;
  }

  .welcome__wrapper {
    padding-top: 0;
  }

  .welcome__information {
    width: 330px;
    height: 252px;
  }

  .welcome__title {
    font-size: 25px;
    line-height: 35px;
    height: 72px;
    width: 330px;
  }

  .welcome__text {
    width: 314.52px;
    height: 105.42px;
  }

  .welcome__btn {
    width: 100px;
    height: 34.14px;
    letter-spacing: 0.3px;
    font-size: 10px;
    line-height: 20px;
  }

  /*--------------WELCOME END----------------*/

  /*--------------ABOUT START----------------*/
  .wrapper__about {
    height: 516px;
    padding: 30px 0 31px;
  }

  .about__information {
    width: 330px;
    height: 308px;
    padding-top: 0;
  }

  .about__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    text-align:center;
    width: 288px;
    height: 57.74px;
  }
  
  .about__text {
    width: 330px;
    height: 228.38px;
    font-size: 15px;
    line-height: 25px;
    margin-top: 21px;
  }
  
  .about__background {
    width: 150px;
    height: 147px;
    margin-top: 0;
    margin-bottom: 0;
  }

  /*--------------ABOUT END----------------*/

  /*--------------SERVICE START----------------*/
  .service {
    height: 3150px;
  }

  .service__box{
    padding-top: 30px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    height: 3150px;
  }

  .service__wrapper {
    /* padding-top: 0; */
    height: 183px;
  }

  .service__title {
    width: 187px;
    height: 69px;
    font-size: 25px;
    line-height: 33px;
  }

  .service__nav {
    justify-content:space-between;
    flex-wrap: wrap;
    height: 79px;
    width: 252px;
    align-items: center;
  }

  .service__btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }

  .service__array {

    height: 2870px;
    /* align-items: center; */
    padding-left: 25px;
  }

  .service__item {
    margin-bottom: 34px;
    width: 280px;
    height: 450px;
  }

  .service__item:last-child {
    margin-bottom: 0;
  }

  /*--------------SERVICE END----------------*/

}